* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Arial,
    "Noto Sans KR",
    sans-serif;
  background: #151c24;
  color: #edf1f5;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}